<form class="row">
  <div>{{this.id}}</div>
  <div>
    {{!-- <div class="icon" style="background-image: url({{this.icon_path}})"></div> --}}
  </div>
  <div><span>{{this.name}}</span></div>
  <div>{{this.size}}</div>
  <div>{{this.type}}</div>
  <div><input
      class="link-button"
      type="submit"
      value="DELETE"
      formmethod="post"
      formaction="/delete"
    /></div>
  <div><input
      class="link-button"
      type="submit"
      value="INFO"
      formmethod="get"
      formaction="/info"
    /></div>
  <div><input
      class="link-button"
      type="submit"
      value="DOWNLOAD"
      formmethod="post"
      formaction="/download"
    /></div>
  <input type="hidden" name="id" value={{this.id}} />
</form>