<div class="container">
  <div class="left-panel">
    <div class="left-text">
      Info about id:
      {{context.id}}
    </div>
  </div>
  <div class="right-panel">
    <div class="info-row">id:
      <span class="info-span">{{context.id}}</span></div>
    <div class="info-row">name:
      <span class="info-span">{{context.name}}</span></div>
    <div class="info-row">path:
      <span class="info-span">{{context.path}}</span></div>
    <div class="info-row">size:
      <span class="info-span">{{context.size}}</span></div>
    <div class="info-row">type:
      <span class="info-span">{{context.type}}</span></div>
    <div class="info-row">date:
      <span class="info-span">{{context.date}}</span></div>
  </div>
</div>